<p>
  <mat-toolbar class="toolbar">
    <button mat-icon-button class="example-icon" aria-label="menu button">
      <mat-icon> menu </mat-icon>
    </button>
    <span class="hello">Hello</span>
    <span class="example-spacer"></span>
    <h4>Welcome to Angular coding challenge</h4>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="share button">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>

<!-- <p>
  <mat-toolbar>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p> -->
