<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Iron Man</mat-card-title>
    <mat-card-subtitle>Mark XLII Suite</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image src="https://i.imgur.com/fpOfDT2.jpg" />
  <mat-card-content>
    <p>
      The Mark XLII (Mark 42), known by its code name "Extremis" or the
      “Prodigal Son” is an Autonomous Prehensile Propulsion Suit Prototype was
      the forty second armor, as well as one of the many newly built suits,
      created by Tony Stark sometime after the events of The Avengers. It served
      as a prototype for Mark XLIII which could be found in Avengers : Age Of
      Ultron. It was the armor featured in the movie Iron Man 3, and made its
      debut in the movie during the start, when Tony creates it in his basement,
      and tests the suit's functionalities. It was seen throughout the whole
      movie as Tony's main suit, and it was later destroyed by self-destruction
      when Tony ordered J.A.R.V.I.S. to do so, after remotely controlling it to
      trap Aldrich Killian within it to blow him up and finish him for good.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Like</button>
    <button mat-button>Share</button>
  </mat-card-actions>
</mat-card>
